<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>weather app</title>
</head>
<body>
   <div class="container">
    <div class="row">
           <div class="col-12 col-lg-12 ">
            <h3 class="weather">Hey..!!What's The Weather</h3>
           </div>
    </div>
   </div>







    <div class="container">
        <div class="row">
            <div class="col-12 col-lg12 ">
                <form method="POST" action="/">
                <div class="form-group">
                    <input type="text " placeholder="Enter city" name="city_name" class="form-control inputcity" required>
                    <br>
                    <button  class=" btn btn-primary btn-block" value="Get Weather">GET WEATHER</button>
                </div>
           </form>
             </div>
        </div>
    </div>
           <div class="container">
               <div class="row">
                   <div class="col-12 col-lg-12 clshow">
                             <p>City: {{weather_data.weather.city}}</p><br>
                             <p>temperature: {{weather_data.weather.temperature}} °C</p><br>
                             <p>description: {{weather_data.weather.description}}</p><br>
                             <img src="http://openweathermap.org/img/w/{{weather_data.weather.icon}}.png" >
           </div>
          </div>
       </div>
     
	<div class="container footer">
        <div class="row">
             <div class="col-12 col-lg-12 ">
                 <p class="pf">This Website is Developed and maintained By Deepak Malik</p>
             </div>
        </div>
    </div>
	   
</body>
</html>